---
import Icons from "../components/Icons/index.astro";

import { getCollection } from "astro:content";

const projects = (await getCollection("projects")).slice(0, 3);
---

<section class="mb-16 sm:mb-40">
  <div class="flex justify-between items-center mb-8 lg:mb-12">
    <h4
      class="text-2xl sm:text-3xl md:text-4xl font-medium dark:text-white mb-0"
    >
      Latest works
    </h4>
    <a
      href="./portfolio"
      class="hidden sm:flex text-lg lg:text-xl xl:text-2xl font-medium text-blue-600 dark:text-blue-500 px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-800 cursor-pointer rounded-lg transition ease-in-out duration-300 items-center"
    >
      See all
      <Icons
        name="chevron"
        size="middle"
        color="#2997FF"
        className="ml-1 w-5 h-5 xl:w-6 xl:h-6"
      />
    </a>
  </div>
  <div class="flex flex-col lg:flex-row lg:space-x-8 items-start">
    {
      projects.map((project) => {
        return (
          <a
            href={`/portfolio/${project.slug}`}
            class={`mb-10 lg:mb-0 lg:w-4/12 cursor-pointer transform transition ease-in-out duration-300 hover:-translate-y-2 hover:shadow-xl rounded-2xl ${project.data.color}`}
          >
            <article class="p-8 sm:p-10 rounded-2xl flex flex-col sm:flex-row lg:flex-col sm:items-center lg:items-start">
              <div class="mb-8 sm:mb-0 basis-auto sm:basis-1/2 lg:basis-auto">
                <h5 class="font-semibold text-lg md:text-xl lg:text-2xl xl:text-3xl text-white mb-4">
                  {project.data.title}
                </h5>
                <p class="text-white text-lg md:text-xl mb-0 lg:mb-12">
                  {project.data.excerpt}
                </p>
              </div>
              <div class="basis-auto sm:basis-1/2 lg:basis-auto">
                <img
                  class="object-cover"
                  src={`portfolio/${project.slug}/featuredImage.png`}
                  alt={project.data.title}
                />
              </div>
            </article>
          </a>
        );
      })
    }
  </div>
  <a
    href="/portfolio"
    target="_blank"
    class="block sm:hidden text-lg font-medium text-blue-600 dark:text-blue-500 px-4 py-2 bg-gray-100 hover:bg-gray-200 dark:bg-gray-800 dark:hover:bg-gray-700 cursor-pointer rounded-lg transition ease-in-out duration-300 text-center"
  >
    See all works
  </a>
</section>
